In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/imdb_top_1000.csv")

Dropped the columns I don't need

In [5]:
df = df.drop(["Runtime", "Genre", "Poster_Link", "Certificate", "Meta_score", "Gross", "No_of_Votes"], axis = 1)

In [6]:
df.head()

,Series_Title,Released_Year,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,1994,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,1972,9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,2008,9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,1974,9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,1957,9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

### Column Year Fix

In [7]:
df["Released_Year"].value_counts()

2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
PG       1
Name: Released_Year, Length: 100, dtype: int64

In [8]:
df.loc[df['Released_Year'] == "PG"]

,Series_Title,Released_Year,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4
966,Apollo 13,PG,7.6,NASA must devise a strategy to return Apollo 1...,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise

In [9]:
df["Released_Year"] = df["Released_Year"].replace('[^0-9.]','1995', regex=True)

In [10]:
df["Released_Year"] = df["Released_Year"].replace('19951995','1995', regex=True)

In [11]:
df.loc[df['Series_Title'] == "Apollo 13"]

,Series_Title,Released_Year,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4
966,Apollo 13,1995,7.6,NASA must devise a strategy to return Apollo 1...,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise

In [12]:
df["Released_Year"] = df["Released_Year"].astype(int)

In [14]:
df.to_csv('tablecleanfin.csv', encoding='utf-8', index = False)