## Movies API

In [17]:
import requests

import pandas as pd
import numpy as np

### Get all info from the API
With the following route, you can get all the info that the database has

In [10]:
total = requests.get('http://localhost:9000/sql/')

In [31]:
df1 = pd.DataFrame.from_dict(total.json())
df1.head()

,Director,IMDB_Rating,Overview,Released_Year,Series_Title,Star1,Star2,Star3,Star4
0,Frank Darabont,9.3,Two imprisoned men bond over a number of years...,1994,The Shawshank Redemption,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,Francis Ford Coppola,9.2,An organized crime dynasty's aging patriarch t...,1972,The Godfather,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,Christopher Nolan,9.0,When the menace known as the Joker wreaks havo...,2008,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,Francis Ford Coppola,9.0,The early life and career of Vito Corleone in ...,1974,The Godfather: Part II,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,Sidney Lumet,9.0,A jury holdout attempts to prevent a miscarria...,1957,12 Angry Men,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

### Searching by Movie

With the following routes, you can search for info about specific movies:

In [44]:
movie = "Interstellar"
url = f'http://localhost:9000/sql/title/{movie}/'

In [45]:
all_info_movie = requests.get(url)

In [46]:
hola = all_info_movie.json()

In [47]:
hola

[{'Director': 'Christopher Nolan',
  'IMDB_Rating': 8.6,
  'Overview': "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.",
  'Released_Year': 2014,
  'Series_Title': 'Interstellar',
  'Star1': 'Matthew McConaughey',
  'Star2': 'Anne Hathaway',
  'Star3': 'Jessica Chastain',
  'Star4': 'Mackenzie Foy'}]

In [53]:
def find_info_movie():
    movie = input("Please enter a movie: ")
    url = f'http://localhost:9000/sql/title/{movie}/'
    all_info_movie = requests.get(url)
    hola = all_info_movie.json()
    return hola[0]

In [55]:
find_info_movie()

Please enter a movie: Pulp Fiction

{'Director': 'Quentin Tarantino',
 'IMDB_Rating': 8.9,
 'Overview': 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.',
 'Released_Year': 1994,
 'Series_Title': 'Pulp Fiction',
 'Star1': 'John Travolta',
 'Star2': 'Uma Thurman',
 'Star3': 'Samuel L. Jackson',
 'Star4': 'Bruce Willis'}

In [8]:
headers = {'Series_Title': "Joan the programmer", 'Released_Year': '2022', 'IMDB_Rating': '7.5', 
           'Overview': 'Joan is a great programmer who loves SQL', 'Director': 'Carlos Munoz', 'Star1': 'Marc Dalmau',
           'Star2': 'David Ros', 'Star3': 'Bernat Bellmunt', 'Star4': "Hugo Alaimo" }

requests.post('http://localhost:9000/post', params=headers)